body {
    background: #6a83ac;
    color: rgb(204, 208, 231);
    font-family: sans-serif;
    text-align: center;
    text-transform: lowercase;
    position: relative;
    height: 100vh;
    margin: 0;
}

.board {
    .row {
        display: block;
        .square {
            display: inline-block;
            padding: 50px;
            background: green;
        }
    }
}