body {
    background: #d0d5dd;
    color: rgb(204, 208, 231);
    font-family: sans-serif;
    text-align: center;
    text-transform: lowercase;
    position: relative;
    height: 100vh;
    margin: 0;
}